[run]
branch = True
parallel = True
omit = 
    tests/*
    src/_vendor/*
    src/utils/*
    src/scripts/*

[report]
exclude_also = 
    raise AssertionError
    raise NotImplementedError
    return NotImplemented
    if __name__ == .__main__.:
    @(abc\\.)?abstractmethod
    @overload
    if TYPE_CHECKING:
    if _seed is not None