aenum==3.1.15 ; python_version >= "3.13" and python_version < "3.14"
alabaster==1.0.0 ; python_version >= "3.13" and python_version < "3.14"
altgraph==0.17.4 ; python_version >= "3.13" and python_version < "3.14"
ansicolors==1.1.8 ; python_version >= "3.13" and python_version < "3.14"
asttokens==3.0.0 ; python_version >= "3.13" and python_version < "3.14"
attrs==25.1.0 ; python_version >= "3.13" and python_version < "3.14"
babel==2.17.0 ; python_version >= "3.13" and python_version < "3.14"
black==25.1.0 ; python_version >= "3.13" and python_version < "3.14"
blinker==1.9.0 ; python_version >= "3.13" and python_version < "3.14"
certifi==2025.1.31 ; python_version >= "3.13" and python_version < "3.14"
charset-normalizer==3.4.1 ; python_version >= "3.13" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.13" and python_version < "3.14"
codetiming==1.4.0 ; python_version >= "3.13" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "3.14"
coverage==7.6.10 ; python_version >= "3.13" and python_version < "3.14"
cyclopts==3.5.1 ; python_version >= "3.13" and python_version < "3.14"
dill==0.3.9 ; python_version >= "3.13" and python_version < "3.14"
doc8==1.1.2 ; python_version >= "3.13" and python_version < "3.14"
docstring-parser-fork==0.0.12 ; python_version >= "3.13" and python_version < "3.14"
docstring-parser==0.16 ; python_version >= "3.13" and python_version < "3.14"
docutils==0.21.2 ; python_version >= "3.13" and python_version < "3.14"
dunamai==1.23.0 ; python_version >= "3.13" and python_version < "3.14"
execnet==2.1.1 ; python_version >= "3.13" and python_version < "3.14"
executing==2.2.0 ; python_version >= "3.13" and python_version < "3.14"
flask==3.1.0 ; python_version >= "3.13" and python_version < "3.14"
icecream==2.1.4 ; python_version >= "3.13" and python_version < "3.14"
idna==3.10 ; python_version >= "3.13" and python_version < "3.14"
imagesize==1.4.1 ; python_version >= "3.13" and python_version < "3.14"
inflect==7.5.0 ; python_version >= "3.13" and python_version < "3.14"
iniconfig==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
interrogate==1.7.0 ; python_version >= "3.13" and python_version < "3.14"
itsdangerous==2.2.0 ; python_version >= "3.13" and python_version < "3.14"
jinja2==3.1.5 ; python_version >= "3.13" and python_version < "3.14"
joblib==1.4.2 ; python_version >= "3.13" and python_version < "3.14"
lemminflect==0.2.3 ; python_version >= "3.13" and python_version < "3.14"
libcst==1.6.0 ; python_version >= "3.13" and python_version < "3.14"
lz4==4.4.3 ; python_version >= "3.13" and python_version < "3.14"
macholib==1.16.3 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "darwin"
markdown-it-py==3.0.0 ; python_version >= "3.13" and python_version < "3.14"
markupsafe==3.0.2 ; python_version >= "3.13" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.13" and python_version < "3.14"
monkeytype==23.3.0 ; python_version >= "3.13" and python_version < "3.14"
more-itertools==10.6.0 ; python_version >= "3.13" and python_version < "3.14"
mypy-extensions==1.0.0 ; python_version >= "3.13" and python_version < "3.14"
mypy[faster-cache]==1.15.0 ; python_version >= "3.13" and python_version < "3.14"
nltk==3.9.1 ; python_version >= "3.13" and python_version < "3.14"
numpy==2.2.2 ; python_version >= "3.13" and python_version < "3.14"
optype==0.9.1 ; python_version >= "3.13" and python_version < "3.14"
orjson==3.10.15 ; python_version >= "3.13" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.13" and python_version < "3.14"
pathspec==0.12.1 ; python_version >= "3.13" and python_version < "3.14"
pbr==6.1.1 ; python_version >= "3.13" and python_version < "3.14"
pefile==2023.2.7 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "win32"
platformdirs==4.3.6 ; python_version >= "3.13" and python_version < "3.14"
pluggy==1.5.0 ; python_version >= "3.13" and python_version < "3.14"
py==1.11.0 ; python_version >= "3.13" and python_version < "3.14"
pydoclint==0.6.0 ; python_version >= "3.13" and python_version < "3.14"
pygments==2.19.1 ; python_version >= "3.13" and python_version < "3.14"
pyinstaller-hooks-contrib==2025.1 ; python_version >= "3.13" and python_version < "3.14"
pyinstaller==6.11.1 ; python_version >= "3.13" and python_version < "3.14"
pytest-sugar==1.0.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-xdist==3.6.1 ; python_version >= "3.13" and python_version < "3.14"
pytest==8.3.4 ; python_version >= "3.13" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.13" and python_version < "3.14" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.13" and python_version < "3.14"
regex==2024.11.6 ; python_version >= "3.13" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.13" and python_version < "3.14"
restructuredtext-lint==1.4.0 ; python_version >= "3.13" and python_version < "3.14"
rich-rst==1.3.1 ; python_version >= "3.13" and python_version < "3.14"
rich==13.9.4 ; python_version >= "3.13" and python_version < "3.14"
rstfmt==0.0.14 ; python_version >= "3.13" and python_version < "3.14"
ruff==0.9.6 ; python_version >= "3.13" and python_version < "3.14"
setuptools==75.8.0 ; python_version >= "3.13" and python_version < "3.14"
snowballstemmer==2.2.0 ; python_version >= "3.13" and python_version < "3.14"
sphinx==8.1.3 ; python_version >= "3.13" and python_version < "3.14"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.13" and python_version < "3.14"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.13" and python_version < "3.14"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.13" and python_version < "3.14"
stevedore==5.4.0 ; python_version >= "3.13" and python_version < "3.14"
tabulate==0.9.0 ; python_version >= "3.13" and python_version < "3.14"
termcolor==2.5.0 ; python_version >= "3.13" and python_version < "3.14"
tqdm==4.67.1 ; python_version >= "3.13" and python_version < "3.14"
typeguard==4.4.1 ; python_version >= "3.13" and python_version < "3.14"
types-regex==2024.11.6.20241221 ; python_version >= "3.13" and python_version < "3.14"
types-waitress==3.0.1.20241117 ; python_version >= "3.13" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.13" and python_version < "3.14"
urllib3==2.3.0 ; python_version >= "3.13" and python_version < "3.14"
waitress==3.0.2 ; python_version >= "3.13" and python_version < "3.14"
werkzeug==3.1.3 ; python_version >= "3.13" and python_version < "3.14"
