name: "Copilot Setup Steps"

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: "recursive"

      # -----------------------------------------------------------------------
      # PYTHON

      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install project deps
        run: uv sync

      - name: Install and cache pipx
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: pipx
          version: 1.0

      - name: Install dev deps using pipx
        run: |
          pipx install dunamai poethepoet

      # -----------------------------------------------------------------------
      # GO

      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install go project deps
        run: go mod download
        env:
          GOEXPERIMENT: jsonv2

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s v2.4.0
